<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Swensen.Ior.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Swensen.Ior.Properties.Settings>
            <setting name="SplitterOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="SplitterDistancePercent" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRequestFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveRequestFileDialogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportResponseFileDialogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ResponseBodyOutput" serializeAs="String">
                <value>Rendered</value>
            </setting>
            <setting name="DefaultRequestContentType" serializeAs="String">
                <value>application/octet-stream</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSnapshots" serializeAs="String">
                <value>15</value>
            </setting>
        </Swensen.Ior.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
