<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="[${longdate}] [${level:uppercase=true}] ${logger} - ${message}"
        fileName="${basedir}/logs/log.txt"
        archiveFileName="${basedir}/log.{#####}.txt"
        archiveAboveSize="512000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>